{#
/**
 * @file
 * Default theme implementation for a five-column layout section.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 * - element: An array representing the element to be themed.
 *   - #settings: The settings for this layout.
 *     - custom_class: The custom class entered in the form.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'layout',
  'layout--fivecol-section',
  element['#settings']['custom_class'] ?? ''
]
%}
{{ attach_library('custom_layout_builder/layout_builder_five_column') }}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.first %}
      <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }}>
        {{ content.second }}
      </div>
    {% endif %}

    {% if content.third %}
      <div {{ region_attributes.third.addClass('layout__region', 'layout__region--third') }}>
        {{ content.third }}
      </div>
    {% endif %}

    {% if content.fourth %}
      <div {{ region_attributes.fourth.addClass('layout__region', 'layout__region--fourth') }}>
        {{ content.fourth }}
      </div>
    {% endif %}

    {% if content.five %}
      <div {{ region_attributes.five.addClass('layout__region', 'layout__region--five') }}>
        {{ content.five }}
      </div>
    {% endif %}

  </div>
{% endif %}
