{% set bem_block = 'custom-module-random-posts' %}
{% if items|length %}
<div class="container">
  <div{{ attributes.addClass(bem_block) }}>
    <h2 class="{{ bem_block }}__title"><span>Rundom posts</span></h2>
    <div>Please login to see more</div>
    <div class="{{ bem_block }}__items">
      {% for item in items %}
        <div class="{{ bem_block }}__item">
          {{ item }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
