/*
 * @file
 * Provides the layout styles for four-column layout section.
 */

.layout--fivecol-section {
  display: flex;
  flex-wrap: wrap;
}

.layout--fivecol-section > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--fivecol-section > .layout__region {
    flex: 0 1 20%;
  }
}

.layout--fivecol-section.wrap-5 {
  gap: 2rem;
  border-radius: 22px;
  padding: 22px;
  transition: box-shadow 0.3s, transform 0.3s;

}
.layout--fivecol-section.wrap-5 .layout__region{
  display: flex;
  justify-content: center;
  align-content: center;
}

.layout--fivecol-section.wrap-5 .layout__region:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
  background-color: rgba(0, 98, 128, 0.3);
}
