//Arcticle
.article {
  .article-image {
    img {
      width: 100%;
      height: 100%;
    }
  }

  .article-header, .article-content {
    margin: 20px 40px;
  }

  .node-article-full__estimated-read-time {
    color: $gray-700;
    font-style: italic;
    margin-bottom: 20px;
  }
}
